<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h5>Hello <%= @user.first_name %></h5>
    <p>
      You have successfully payment for caregiver <%=@caregiver.first_name%>, your payment id <%= @payment.payment_id%>
      <br/>
    </p>
   
    <p>Thanks have a great day!</p>
  </body>
</html>