<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to rightcare.in, <%= @admin.name %></h1>
    <p>
      There is request for purchase new caregiver
      username is: <%= @user.email %>.<br>
    </p>
  </body>
</html>