<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hello 
    <p>
      A new account has been created<br/>
      Email: <%= @user.email%><br/>
      First Name: <%=@user.first_name%><br/>
      Last Name: <%=@user.last_name%><br/>
    </p>
   
    <p>Thanks have a great day!</p>
  </body>
</html>