<% content_for :title, "FAQ" %>
<section class="faq-banner">
  <div class="banner-content">
    <div class="container">
      <h3> FAQs </h3>
      <ul>
        <li>Home</li>
        <li>/</li>
        <li class="active"><b>FAQs</b></li>
      </ul>
    </div>
  </div>
</section>
<div class="container faqs-sec">
  <div >
    <div class="col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Is it safe to use Rightcare? </a> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body"> We run a background check on every caregiver and also interview their client references. More importantly, we spend time with each and every caregiver and ensure that they are the type of person that we would let into our own home. This includes an extensive onboarding process and the compilation of their video profile. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> How much does Rightcare cost? </a> </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body"> You negotiate the daily rate with the caregiver directly, and we charge a flat 20% commission fee on top of that. Whereas most agencies charge around Rs. 900/day  and pay their caregiversRs.300/day, you could get an incredible Right caregiver for 600/day that includes Rs.120/day for sourcing and vetting the caregivers, training, assessments and providing insurance, payroll, back up care, and tax paperwork. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> What makes Rightcare different? </a> </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body"> In the past, families had the option of hiring caregivers directly or working with an agency. We provide the best of both worlds: you still hire caregivers directly and
              affordably, but with Rightcare you also have the peace of mind that the caregivers we send to you are vetted, checked and trained, there's back up care if necessary. </div>
          </div>
        </div>
        
        
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapseThree"> How do I create an account? </a> </h4>
          </div>
          <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body"> You can create an account by selecting the "Get Now" button located at www.rightcare.in 
              Upon confirming your email address and mobile number, you will navigate to the information page. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree"> What happens if caregivers do not want to work after accepting the case? </a> </h4>
          </div>
          <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body"> Just as with any other job, it is customary to provide your employer (you) at least 2 weeks' notice to ensure that you have enough time to find a replacement caregiver. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapseThree"> How can I hire caregivers for patient care? </a> </h4>
          </div>
          <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body"> Once you complete care information section in your account, you will have access to video profile of the caregivers matching the skills. If youdecide to meet the caregiver for an in-person interview, then a care rep from our team will call you to schedule the in-person interview. It is 100% your decision on whom you decide to hire. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>