
<div class="slider-wrapper">
    <section class="slider ls-container ls-fullwidth" id="slider" style="width: 1286px; height: 455.458px; visibility: visible;">
      <div class="ls-inner" style="background-color: transparent; width: 1286px; height: 455px;"><div class="ls-slide ls-animating" data-ls="transition2d:9;slidedelay:7000;" style="width: 1286px; height: 455px; visibility: visible; display: none; left: auto; right: 0px; top: 0px; bottom: auto;"> <img src="/assets/hero-bg34.jpg" alt="" class="ls-bg ls-preloaded" style="padding: 0px; border-width: 0px; width: 1286px; height: 535.833px; margin-left: 0px; margin-top: -40.4167px;"><div class="ls-gpuhack" style="width: auto; height: auto; padding: 0px; border-width: 0px; left: 0px; top: 0px;"></div>
        <div class="intro ls-l" data-ls="offsetyin:top;offsetxin:0;durationin:2000;offsetyout:bottom;offsetxout:0;durationout:1000;" style="left: 475.8px; top: 82.75px; width: 57.6021px; height: auto; font-size: 10.0469px; padding: 22.7729px 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;">
          <h2>COMPASSIONATE CAREGIVING</h2>
          <p>Quality, Transparent Pricing </p>
        </div>
      </div><div class="ls-circle-timer"><div class="ls-ct-left"><div class="ls-ct-rotate"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-right"><div class="ls-ct-rotate"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-center"></div></div></div>
    <div class="ls-loading-container" style="z-index: -1; display: none;"><div class="ls-loading-indicator"></div></div><div class="ls-shadow"></div></section>
</div>
<main class="page-content">
    <div class="grid-row"> 
      <!-- benefits -->
      <section class="benefits">
        <ul>
          <li>
            <div class="pic">
              <h2 class="entery-header">Entry level caregivers</h2>
              <p>Rate <span>600/</span>day</p>
              <p class="btn"> <%= get_now_links %></p>
            </div>
          </li>
          <li>
            <div class="pic">
              <h2 class="experience-header">experienced caregivers</h2>
              <p>Rate <span> 900/</span>day</p>
              <p class="btn"><%= get_now_links %></p>
            </div>
          </li>
          <li class="special-offer">
            <div class="pic">
              <h2 class="special-header">Specialized caregivers</h2>
              <p>Rate <span>1200/</span>day</p>
              <p class="btn"><%= get_now_links %></p>
            </div>
          </li>
          <li class="qualify-nurses">
            <div class="pic">
              <h2 class="nurse-header">Qualified nurses</h2>
              <p>Rate <span>2400/</span>day</p>
              <p class="btn"><%= get_now_links %></p>
            </div>
          </li>
        </ul>
      </section>
      <!--/ benefits --> 
    </div>
  </main>
  <!--/ page content -->
  <section class="quality-sec">
    <div class="container">
      <h3 >Quality care <span> you can trust</span>
        <div >
          <center>
            <img src="/assets/seperation.png" width="85" height="14">
          </center>
        </div>
      </h3>
      <div class="col-md-6 clear-box"><img src="/assets/quality-sec.png"></div>
      <div class="col-md-6   ">
        <div class="">
          <p>The ways we ensure quality </p>
          <ul>
            <li> <span> <img src="/assets/training.png"/> </span> Training </li>
            <li> <span> <img src="/assets/backcheck.png"/> </span> Background Checks </li>
            <li> <span> <img src="/assets/interview1.png"/> </span> Multiple Interviews </li>
            <li> <span> <img src="/assets/Personality_Icon.png"/> </span> Personality Check </li>
            <li> <span class="refernce-block"> <img src="/assets/reference.png"/> </span> Reference Checks </li>
            <li> <span class="happy"> <img src="/assets/assesement.png"/> </span> Assessment by doctors </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="resp-sec">
    <h3>Transparency at <span>your fingertips</span>
      <div >
        <center>
          <img src="/assets/seperation.png" width="85" height="14">
        </center>
      </div>
    </h3>
    <div class="container">
      <div class="col-md-4 ">
        <div class="work-sec">
          <div class="image"> <img src="/assets/explain.jpg" > </div>
          <p> Checklists allow families to specify what needs to be done, and to describe how to do those tasks. </p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work-sec">
          <div class="image"> <img src="/assets/general-caring.jpg" > </div>
          <p> Caregivers can keep track of anything important - pain level, emotional well-being, etc. as per your requirement. </p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work-sec">
          <div class="image"> <img src="/assets/general-monitoring.jpg" ></div>
          <p> Conditions can be tracked on a daily basis to help with diagnosis and general monitoring. </p>
        </div>
      </div>
    </div>
  </section>
  <section id="carousel" class="testimony">
    <div class="container">
      <div class="row">
        <h3>WHAT OUR <span>CUSTOMERS SAY</span>
          <div >
            <center>
              <img src="/assets/seperation.png" width="85" height="14">
            </center>
          </div>
        </h3>
        <div class="col-md-8 col-md-offset-2">
          <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000"> 
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="2" ></li>
              <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"> <img src="pic/expert-3.png" ></div>
                <blockquote> <span>Karthik</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                </blockquote>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                <blockquote> <span>Ritesh</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                </blockquote>
              </div>
              <div class=" item">
                <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                <blockquote> <span>Ravi</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                </blockquote>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                <blockquote> <span>Hussain</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

