<% content_for :title, "Privacy Policy" %>
  <section class="privacy-bg">
    <div class="banner-content">
      <div class="container">
        <h3> Privacy Policy </h3>
        <ul>
          <li>Home</li>
          <li>/</li>
          <li class="active"><b>Privacy Policy</b></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="terms-sec scroll-box mCustomScrollbar ">
    <div class="container">
    <div class="">
    <p class="no-padding">
    We, www.rightcare.in the creators of this Privacy Policy are committed to ensuring your privacy. Accordingly, we have developed this Policy in order to explain to you how we collect, use, communicate and disclose and make use of information about you.
    </p>
    <p  class="no-padding">
    This privacy policy should be read in accordance with any agreement you have with <a href="#">www.rightcare.in</a> including our Terms of Service. We will make readily available to customers information about our policies and practices relating to the management of personal information.
    </p>
      <h3>1. OVERVIEW</h3>
      <p>We commit to respecting your online privacy data. We further recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us. Information that is considered personal about you by us includes, but is not limited to, your name, address, email address or other contact information. </p>
      <p> In order to avail the services we offer, you are required to provide the following information to us, which includes, but are not limited to: </p>
     <ul>
     <li>
     Name;
     </li>
       <li>
    Residential Address;
     </li>
     <li>
     Phone number;
     </li>
      <li>
   Email address;
     </li>
     </ul>
     <p>
     If you decline to submit required "Personal Information" to us, then we will unfortunately not be in a position to provide our services to you. Any information you provide when using certain services that are open, public or forum including (without limitation) any blog, community or discussion board, is not considered confidential, does not constitute "Personal Information", and is not subject to protection under Privacy Policy. Since such public environments are accessible by third parties, it is possible that third parties may collect and collate and use such information for their own purposes. You should accordingly be careful when deciding to share any of your "Personal Information" in such public environments. We are not liable to you or any third party for any damages that you or any third party may suffer howsoever arising from your disclosure of "Personal Information" in such public environment. Accordingly, any disclosure of information in a public environment is at your own risk.
     </p>
      <h3>2. NOTIFICATION OF MODIFICATION AND CHANGES TO THE TERMS OF SERVICE AND THE PRIVACY POLICY</h3>
      <p> We reserve the right to change the Terms and Privacy Policy from time to time as seen fit, without any intimation to you, and your continued use of the site will signify your acceptance of any amendment to these terms.
    You are therefore advised to re-read the Terms of Service on a regular basis. Should it be that you do not accept any of the modifications or amendments to the Terms, you may terminate your use of this website immediately.
    </p>

      <h3>3. INFORMATION WE COLLECT</h3>
      <p> <b>Information directly obtained from you:</b>
    Our site requires you to give us contact information (like name, address, e-mail and telephone number) for the purposes of availing our services listed on the Website.
    </p>
      <p> Any communication between you and the website, along with queries and posts on our website are also included in this. Certain information, such as your name, e-mail addresses, is collected in order to, among other things; verify your identity, use as account numbers in our record system and to provide information for the leads generated. </p>
    <p><b>Information collected indirectly:</b>
    We may also obtain information relating to you from third party sources such as social networking websites, databases, online marketing firms, etc. This information includes your username and other information on those sites, demographic data like age, gender and other interests;  viewing data and advertisement interaction, content, information about your correspondents, and the destination/origin of communications between you and any other person using our website or services. These include (but not limited to) email communications, blogs, chat room communications, discussion board communications, instant message communications, and experts forum communications.
     </p>
      <h3>4. COOKIES</h3>
      <p> We use data collection devices such as "cookies" on certain pages of our Websites. "Cookies" are small files sited on your hard drive that assist us in providing customized services. We also offer certain features that are only available through the use of a "cookie". Cookies can also help us provide information, which is targeted to your interests. Cookies may be used whether you register with us or not. </p>


      <h3>5.  USE OF YOUR INFORMATION</h3>
      <br>
      <ul>
        <li><i class="fa fa-hand-o-right" aria-hidden="true" ></i> 	We collect and use your "Personal Information" only to conduct our business, to help us deliver our services and to improve our business.  </li>
        <li> <i class="fa fa-hand-o-right" aria-hidden="true" ></i>  	Your contact information is used to contact you when necessary. We use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to help identify you and to gather broad demographic information. Finally, we may use your IP address to help protect our partners and ourselves from fraud. We will continue to enhance our security procedures as new technology becomes available. We will transfer information about you if we are acquired by or merged with another company. In this event, we will notify you by email or by putting a prominent notice on the site before information about you is transferred and becomes subject to a different privacy policy.</li>
        <li> <i class="fa fa-hand-o-right" aria-hidden="true" ></i>	We may under certain circumstances procure an element of the Services from a third party service provider. To the extent that it may be necessary, and solely for the purposes of providing the Service to you, you agree that we may disclose to such third party any of your "Personal Information" that may be necessary for the procurement of services from the third party.

        </li>
         <li> <i class="fa fa-hand-o-right" aria-hidden="true" ></i> For example, we may share your contact information with a third party to ensure delivery of the service to you. You consent to this sharing of information and being contacted by our partners by continued use of this website.
         </li>
         <li>
    <i class="fa fa-hand-o-right" aria-hidden="true" ></i>	We neither share any of your personal information with third parties not involved in our business, nor sell or trade your personal information to third parties for their marketing purposes, without your explicit consent.


        </li>
        <li>
        <i class="fa fa-hand-o-right" aria-hidden="true" ></i>	We use your "Personal Information" only as described in this Privacy Policy. If we want to use it for any other purpose, we will obtain your prior written consent.
        </li>
      </ul>

      <h3> 6. EXTERNAL LINKS ON THE WEBSITE</h3>
      <p>The Website may include hyperlinks to other web sites or content or resources. We have no control over any websites or resources, which are provided by companies or persons other than us. We also display advertisements on the website, which are often targeted based on the information we collect about you.  Please note that information collected by third party advertisers is not governed by this policy.  </p>
      <p> You acknowledge and agree that we are not responsible for the availability of any such external sites or resources, and do not endorse any advertising, products or other materials available on or from such websites or resources. You acknowledge and agree that we are not liable for any loss or damage which may be incurred by you as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such websites or resources. These third-party service providers and third party Sites may have their own privacy policies governing the storage and retention of your personal information that you may be subject to. We recommend that when you enter a third party website, you review the third party websites privacy policy as it relates to safeguarding your personal information. We use third-party advertising companies to serve ads when you visit the website. </p>
      <h3> 7. CONFIDENTIALITY </h3>
      <p> You further acknowledge that the website may contain information which is designated confidential by us and that you shall not disclose such information without our prior written consent.
    Your information is regarded as confidential and therefore will not be divulged to any third party, unless if legally required to do so to the appropriate authorities.
    We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by us will only be in connection with the provision of agreed services.
    </p>

      <h3>8. DISCLOSURE OF YOUR INFORMATION</h3>
      <p> Due to the existing regulatory environment, we cannot ensure that all of your private communications and other personally identifiable information will never be disclosed in ways not otherwise described in this Privacy Policy. By way of example (without limiting and foregoing), we may be forced to disclose information to the government, law enforcement agencies or third parties. Under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or members may abuse or misuse your information that they collect from our Website. Therefore, although we use industry standard practices to protect your privacy, we do not promise, and you should not expect, that your personally identifiable information or private communications would always remain private </p>
      <p> As a matter of policy, we do not sell or rent any personally identifiable information about you to any third party. However, the following describes some of the ways that your personally identifiable information may be disclosed:</p>
      <ul>
      <li>
      <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
      <b>External Service Providers:</b> There may be a number of services offered by external service providers that help you use our Websites. If you choose to use these optional services, and in the course of doing so, disclose information to the external service providers, and/or grant them permission to collect information about you, then their use of your information is governed by their private policy.
      </li>
      <li>
      <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
      <b>Other Corporate Entities:</b> We share much of our data, including personally identifiable information about you, with our parent and/or subsidiaries that are committed to serving your online needs and related services, throughout the world. Such data will be shared for the sole purpose of enhancing your browsing experience and providing our services to you. To the extent that these entities have access to your information, they will treat it at least as protectively as they treat information they obtain from their other members. It is possible that We and/or its subsidiaries, or any combination of such, could merge with or be acquired by another business entity. Should such a combination occur, you should expect that we would share some or all of your information in order to continue to provide the service. You will receive notice of such event (to the extent that it occurs).
      </li>
       <li>
      <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
      <b>Law and Order:</b> We cooperate with law enforcement inquiries, as well as other third parties to enforce laws, such as: intellectual property rights, fraud and other rights. We can (and you authorize us to) disclose any information about you to law enforcement and other government officials as we, in our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose us or you to legal liability.
      </li>
      </ul>


      <h3> 9. OTHER INFORMATION COLLECTORS </h3>
      <p> Except as otherwise expressly included in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you. To the extent that you disclose your information to other parties, whether they are on our Websites or on other sites throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them. To the extent that we use third party advertisers, they adhere to their own privacy policies. Since we do not control the privacy policies of the third parties, you are subject to ask questions before you disclose your personal information to others. </p>

      <h3> 10. SECURITY </h3>
      <p>We treat data as an asset that must be protected against loss and unauthorized access. We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.  </p>
      <p>
      We employ many different security techniques to protect such data from unauthorized access by members inside and outside the company. We follow generally accepted industry standards to protect the personal information submitted to us, when we receive it. However, "perfect security" does not exist on the Internet. You therefore agree that any security breaches beyond the control of our standard security procedures are at your sole risk and discretion.
      </p>
       <h3> 11. DISCLAIMER </h3>
      <p> We cannot ensure that all of your private communications and other personal information (including sensitive information like credit card information and bank account number) will never be disclosed in ways not otherwise described in this Privacy Policy. Therefore, although we just are committed to protecting your privacy, we do not promise, and you should not expect, that your personal information will always remain private. As a user of the Site, you understand and agree that you assume all responsibility and risk for your use of the Site, the internet generally, and the documents you post or access and for your conduct on and off the Site.

    </p>
    <p> 	If we are required to intercept, disclose, monitor and/or store your "Personal Information": (a) by law; (b) to conduct our business; (c) to secure our systems; or (d) to enforce our own rights, we will do so in the manner as prescribed by law. Such interception, disclosure, monitoring and storage may take place without your knowledge. In that case, we will not be liable to you or any third party for any damages howsoever arising from such interception, disclosure, monitoring and storage.

    </p>
    <h3>
    12. DISPUTES AND JURISDICTION

    </h3>
    <p>
    All disputes involving but not limited to rights conferred, compensation, refunds, and other claims through this policy will be resolved through a two-step Alternate Dispute Resolution mechanism.
    </p>
    <p>
    <b>Stage 1: </b> Mediation; In case of a dispute, the matter will first be attempted to be resolved by a sole mediator who is a neutral third party and will be selected at the mutual acceptance of a proposed mediator by both parties. Both parties may raise a name for sole arbitrator and in case both parties accept the proposed name, the said person shall be appointed as sole mediator. In any case the parties are not able to reach a consensus within two proposed mediators, the Company reserves the right to decide who the final mediator is. The decision of the mediator is not binding on both parties, however the parties in good faith will attempt to bind by the decision.
    </p>
    <p>
    <b> Stage 2:</b> Arbitration; In case that mediation does not yield a result suitable or preferred by any one of the parties, arbitration may follow, the award of which is binding on both parties. The Arbitration Board shall comprise three members – one appointed by each party and the third member to be nominated by the two appointed members by mutual consent. Arbitration shall be held at Bangalore, India. The proceedings of arbitration shall be in the English language. The arbitrator's award shall be final and binding on the Parties. If the dispute cannot be resolved by this two-step Alternate Dispute Resolution mechanism, it shall be referred to the courts at Bangalore.
    </p>
    </div>
    </div>
  </section>