<section class="register-box">
  <% if model_error_messages?(@patient) %>
     <div class="alert alert-error notice">
      <strong><%= model_error_messages(@patient) %></strong> 
      <span class="glyphicon glyphicon-hand-up cross"></span>
    </div>
    <%end%>
<div>
<div class="container">
  <div class="col-md-6 col-md-offset-3  register-form clear-box">
    <div class="assessment-container">
      <div class="">
        <div class=" form-box">
          <%= render partial: "patients/form"%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<script>
$(document).ready(function(){
  $("#patient_health_conditions, #patient_speciality_services,#patient_languages").select2({
    // templateResult: formatState;
  });
})
</script>
