<section class="register-box">
  <% if model_error_messages?(@patient) %>
     <div class="alert alert-error notice">
      <strong><%= model_error_messages(@patient) %></strong> 
      <span class="glyphicon glyphicon-hand-up cross"></span>
    </div>
    <%end%>
<div>
<div class="container">
  <div class="col-md-6 col-md-offset-3  register-form clear-box">
    <div class="assessment-container">
      <div class="">
        <div class=" form-box">
          <%= render partial: "patients/form"%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<script>
$(document).ready(function(){
  $("#patient_health_conditions").select2({
    placeholder: "Please Select a Health Condition"
    // templateResult: formatState;
  });
  $("#patient_speciality_services").select2({
    placeholder: "Please Select a Special Service"
    // templateResult: formatState;
  });
  $("#patient_languages").select2({
    placeholder: "Please Select a Languages"
    // templateResult: formatState;
  });

  $("#choose-file").click(function(){
    $("#patient_avatar").click()
  })
   $("#patient_avatar").change(function(){
    var str = $(this).val();
    var result = /.*\\(.*)/.exec(str)[1];
    $("#selected-file-name").html(result)
   })
})
</script>
