<footer class="page-footer"> <a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>
  <div class="container">
    <div class="col-md-8 col-sm-7 clear-box">
      <div class="copyrights">Copyright © 2017, Prana Healthcare Enablers Private Limited. All Rights Reserved</div>
    </div>
    <div class="col-md-4 col-sm-5 text-right clear-box">
      <a href="<%= terms_condition_pages_path %>">Terms <span>l</span></a> 
      <a href="<%= privacy_policy_pages_path %>">Privacy <span> l </span></a>
    Call: 088-925-05557 </div>
   </div>
</footer>